<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
  <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg mt-12">

    <table class="table-fixed w-full">
      <thead>
        <tr class="bg-green-500 text-white">
          <th class="w-20 py-4 ...">CI</th>
          <th class="w-30 py-4 ...">Nombre</th>
          <th class="w-30 py-4 ...">Apellido P</th>
          <th class="w-30 py-4 ...">Apellido S</th>
          <th class="w-30 py-4 ...">Telefono</th>
          <th class="w-30 py-4 ...">Nacimiento</th>
          <th class="w-30 py-4 ...">Accion</th>
        </tr>
      </thead>
      <tbody>
        {{#each usuarios}}
        <tr>
          <td class="py-3 px-6">{{ciUsuario}}</td>
          <td class="p-3">{{nombre}}</td>
          <td class="p-3">{{apellidoPrincipal}}</td>
          <td class="p-3">{{apellidoSecundario}}</td>
          <td class="p-3">{{telefono}}</td>
          <td class="p-3">{{nacimiento}}</td>
          <td class="p-3 flex">
            <form action="/usuarios/delete" method="POST" class="mx-2">
              <input type="hidden" value="{{ciUsuario}}" name="ciUsuario">
              <button class="bg-red-500 text-white px-3 py-1 rounded-sm" type="submit">
                <i class="fas fa-trash"></i></button>
            </form>
            <a href="/usuarios/edit/{{ciUsuario}}" class="bg-green-500 text-white px-3 py-1 rounded-sm">
              <i class="fas fa-pen"></i></a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>