<div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
  <div class="bg-white overflow-hidden shadow-xl sm:rounded-lg mt-12">

    <table class="table-fixed w-full">
      <thead>
        <tr class="bg-green-500 text-white">
          <th class="w-20 py-4 ...">ID</th>
          <th class="w-30 py-4 ...">Tipo</th>
          <th class="w-30 py-4 ...">Ambiente</th>
          <th class="w-30 py-4 ...">Encargado</th>
          <th class="w-30 py-4 ...">Paciente</th>
          <th class="w-30 py-4 ...">Fecha</th>
          <th class="w-1/4 py-4 ...">Resultado</th>
          <th class="w-30 py-4 ...">Accion</th>
        </tr>
      </thead>
      <tbody>
        {{#each sucesos}}
        <tr>
          <td class="py-3 px-6">{{idSuceso}}</td>
          <td class="p-3">{{tipo}}</td>
          <td class="p-3">{{ambiente}}</td>
          <td class="p-3">{{encargado}}</td>
          <td class="p-3">{{paciente}}</td>
          <td class="p-3">{{Fecha}}</td>
          <td class="p-3 text-center">{{description}}</td>
          <td class="p-3 flex">
            <form action="/sucesos/delete" method="POST" class="mx-2">
              <input type="hidden" value="{{idSuceso}}" name="id">
              <button class="bg-red-500 text-white px-3 py-1 rounded-sm" type="submit">
                <i class="fas fa-trash"></i></button>
            </form>
            <a href="/sucesos/edit/{{idSuceso}}" class="bg-green-500 text-white px-3 py-1 rounded-sm">
              <i class="fas fa-pen"></i></a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>